@media print {
  body * {
    visibility: hidden;
  }
  @page {
    size: landscape;
  }
  #print-section, #print-section * {
    visibility: visible;
  }
  #print-section {
    position: absolute;
    left: 0;
    top: 0;
  }
}
.catatan-contents{
  white-space: pre-line;
}
#preview-header{
    font-size: 14px;
    text-align: center;
}
h2{
    font-size: 18px;
}
tr{
    text-align: justify;
}