#card-home{
    width: 100vw;
    height: 100%;
    margin-bottom:20px;
}
#home-container{
    display: flex;
    padding:20px;
}
@media only screen and (max-width: 600px) {
	#home-container{
		flex-direction:column;
		justify-content:center;
		justify-items:center;
		text-align:center;
	}
	#card-home{
		width:100%;
	}
}
