.laporan-ttd{
    height: 30px;
}
#table-container{
    position:static;
}
td{
    height: 10px;
}
#laporan-card{
  overflow:scroll;
  margin:10px;
}
#laporan-form{;
  width:200px;
  margin-right:20px;
}
#laporan-form-container{
  display:flex;
  padding:10px;
  flex-direction:row;
  margin-bottom:10px;
  width:100vw;
}
