.laporan-ttd{
    height: 30px;
}
#table-container{
    position:static;
    padding:20px;
}
td{
    height: 30px;
}
#laporan-card{
  overflow:scroll;
}
#laporan-form{;
  width:auto;
}
#laporan-form-container{
  margin-top:0px;
  display:flex;
  flex-direction:row;
  margin-bottom:10px;
  justify-content:space-between;
}
