.App {
  border: solid 1px rgb(200, 200, 200);
  text-align: center;
  margin:5px;
  margin-top:50px;
  display: flex;
  padding:20px;
  flex-wrap: wrap;
  flex-direction: column;
  box-shadow:0 4px 8px rgba(0,0,0,1);
}
#canvas-ttd{
  border: solid;
}
#judul-presensi{
  margin-bottom: 20px;
  border-bottom: solid 1px rgb(200, 200, 200);
  padding-bottom: 20px;
  font-weight:bold;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.custom-select{
  height: 50px;
  border-radius: 5px ;
  border: solid 1px rgb(200, 200, 200);
  width: 100%;
}
#hapus-ttd{
  margin-right: 10px;
}
.form-control{
  height: 50px;
  border-radius: 5px;
  border: solid 1px rgb(200, 200, 200);
}
#presensi-container{
  background-image: url('../img/images.jpg');
  background-position:top;
  background-color:red;
  padding-top:10px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.input-data{
  width: 100%;
  /* margin: 20px; */


}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
