#dasarhukum-container{
  background-color:red;
}
#dasarhukum-card-container{
  display: grid;
  grid-template-areas: 
  "sidebar categorized"
  "detail input";
  grid-template-columns: 400px;
  column-gap: 10px;
  row-gap: 10px;
  padding: 10px;
}
#dasarhukum-card-sidebar{
  grid-area: sidebar;
}
#dasarhukum-card-detail{
  grid-area: detail;
  padding: 10px
}
.table-striped{
  /* border: solid 1px; */
}
.dasarhukum-accordion{
  margin-bottom: 5px;
}
.dasarhukum-input{
  height: 40px;
}
.fa-file{
  margin-right: 10px;
}
.hide{
  display:none
}
#dasarhukum-ubah-button{
  display:none
}.fa-folder{
  margin-right: 10px;
}
#dasarhukum-input-container{
  display:none
}
.dasarhukum-categories-button{
  background-color: whitesmoke;
  margin-bottom: 5px;
  padding: 5px;
}
.dasarhukum-categories-button:hover{
  cursor: pointer;
  background-color: burlywood;
}
.view-legal{
  display: none;
}
.dasarhukum-detail-view:hover .view-legal{
  display: block;
}
#button-hapus-masukan{
  margin-left: 10px;
}
.dasarhukum-icon{
  margin-right: 10px;
}
@media (max-width: 600px) {
  #dasarhukum-card-container{
    display:flex;
    flex-direction : column
  }
}
